<section id="top" class="main_section-1">

    <nav class="main_section-1__nav-menu">
        <a href="https://adalab.es/"><img src="./images/ico-menu.svg" alt=""></a>

    </nav>

    <div class="main_section-1__div-text">
        <h1>hasta un 50% de descuento</h1>

        <h2>Ya están aquí las ofertas de fin de temporada</h2>

        <div class="main_section-1__div-arrow">
            <a href="#new-year"><img src="./images/ico-scroll-down.svg" alt=""></a>

        </div>
    </div>
</section>