<section id="new-year" class="main_section-3">

    <h1>Año nuevo, movimientos nuevos</h1>

    <div class="main_section-3__div">

        <div class="main_section-3__div-div">
            <h2>Entrenamientos</h2>
            <p>Sesiones de running y entrenamientos.</p>
        </div>

        <div class="main_section-3__div-div">
            <h2>Cualquier nivel</h2>
            <p>Entrenamientos para cada nivel.</p>
        </div>

        <div class="main_section-3__div-div">
            <h2>Exclusividad</h2>
            <p>Productos para miembros premium.</p>
        </div>
    </div>

    <div class="main_section-3__div-button">
        <p>Empezar ahora</p>
    </div>


</section>