<section class="main_section-2">

    <p class="main_section-2__title">Los sentimientos nos inspiran</p>

    <h1>Conecta contigo</h1>

    <p class="main_section-2__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la
        libertad de ser. Rendimos homenaje
        al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
    </p>

    <div class="main_section-2__div-button">
        <p>Comprar</p>
    </div>



</section>